.header__nav {
    display: inline-flex;
    align-items: center;
    color:#FFF;
    transition: color .5s;
    font-size:20px ;
    font-family: "Raleway";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;    
}

.header__nav::before {
    content:"";
    background-color: #504236;
    width: 6px;
    height: 6px;
    margin-right: 10px;
}